/sesion_6/CasoPractico/nbproject/private/
/sesion_6/CasoPractico/build/
/Sesion_8/Proyecto/nbproject/private/
/Sesion_8/Proyecto/build/
/Sesion_8/proyecto2/nbproject/private/
/Sesion_8/proyecto2/build/
/Sesion_8/proyecto2/dist/
